body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-content{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
}

    #start-page-layer{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 20;
    }

    #start-page-map{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

        #mapContainer{
            height:100%;
        }


/* Route Add */

#map {
    padding: 0;
    margin: 0;
    height: 100%;
}

      #panel {
        width: 200px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        float: right;
        margin: 10px;
      }

      #color-palette {
        clear: both;
      }

      .color-button {
        width: 14px;
        height: 14px;
        font-size: 0;
        margin: 2px;
        float: left;
        cursor: pointer;
      }

      #delete-button, #generate-kml, #get-points, #test{
        margin-top: 5px;
      }